# Nullmailer default delivery address
ADMINADDR="root@example.org"
#DNS Recursor for VE config
RECURSOR=172.16.42.1
#Smarthost for Mail delivery
SMARTHOST=smtp.example.org
#Template name used during deployment
DEPLOYTEMPLATE="debian-4.1-bootstrap"
#Debian Mirror to use
DEBMIRROR=http://ftp.at.debian.org/debian
